body { 
    background-color: coral; 
}
#fire { 
    text-align: center;  
    background-color: green;
} 

#names { 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: right;
} 

#paragraph0 { 
    text-align: center; 
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white; 
}

#paragraph1 { 
    text-align: center;
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white; 
}
 
#principal { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    width: 40%; 
}

#funding { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%; 
}

#teach { 
    width: 30%;  
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
#waterFountain { 
    width: 30%;  
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
} 

#signs { 
    width: 30%;  
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#timeChange { 
    width: 30%;  
    display: block; 
    margin-left: auto; 
    margin-right: auto;
} 

#game { 
    width: 30%;  
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-bottom: 10px; 
}

.locations {  
    display: flex; 
}

.column { 
    flex: 50%;
    padding: 5px;  
}
 
#paragraph2 { 
    text-align: center;  
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white; 
} 

#paragraph3 { 
    text-align: center;  
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white; 
} 

#paragraph4 { 
    text-align: center;  
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white; 
} 

#paragraph5 { 
    text-align: center;  
    padding-bottom: 10px; 
    font-size: 20px;  
    background: black; 
    color: white;  
} 

#paragraph6 { 
    text-align: center;  
    padding-bottom: 50px; 
    font-size: 20px;  
    background: black; 
    color: white;  
}  

#paragraph7 { 
    text-align: center;  
    padding-bottom: 50px; 
    font-size: 20px;  
    background: black; 
    color: white;  
}

#comments { 
    text-align: center;  
    padding-bottom: 50px;    
    background: rgba(30,10,150, .1) 
}  




@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gudea:700');
/* GOOGLE FONTS */

/* font-family: 'Fredericka the Great', cursive; */

/* font-family: 'Gudea', sans-serif; */

/* COLOR PALETTE */

/* https://coolors.co/36151e-839791-593f62-e3b23c-edebd7 */

:root {
    --primaryDark: #36151E;
    --primaryLight: #EDEBD7;
    --accent: #E3B23C;
    --alternate: #593F62;
    --addedPadding: 10px;
}




h1,
label,
#submitButton {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}

input,
.allMessages>p {
    font-family: 'Gudea', sans-serif;
}

h1 {
    font-size: 45px;
    color: var(--accent);
    text-align: center;
}

.allMessages {
    flex: 1;
    margin-top: 15px;
    width: calc(60% + var(--addedPadding)*2);
    padding: var(--addedPadding);
    border: 2px solid var(--accent);
    background-color: var(--primaryLight);
    color: var(--alternate);
    overflow-y: scroll;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px; 
    margin-left: auto; 
    margin-right: auto; 
}

.allMessages>p {
    text-indent: -2em;
    margin-left: 2em;
}

.userContainer {
    margin: 20px 0 40px 0;
    width: 60%;
    border: 2px solid var(--accent);
    background-color: var(--primaryLight); 
    margin-left: auto; 
    margin-right: auto;  
    padding-bottom: 100px; 
}

label {
    font-size: 1.3em;
    color: var(--primaryDark);
}

input {
    font-size: 1.3em;
    background: none;
    border: unset;
    border-bottom: var(--alternate) 2px solid;
    caret-color: var(--accent);
    color: var(--alternate);
}

input:focus {
    outline: none;
}

.userContainer {
    padding: var(--addedPadding);
}

form,
.inputContainer,
.singleInput {
    display: grid;
    grid-gap: var(--addedPadding);
}

form {
    grid-template: auto/1fr auto;
}

.inputContainer {
    grid-template: auto auto/auto;
}

.singleInput {
    grid-template: auto/auto 1fr;
}

#submitButton {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 1.3em;
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
}

#submitButton:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
}

#submitButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }